<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form role="form" ng-submit="modal.save()">
                <div class="form-group">

                    <label for="recipename" style="padding-top:18px">
                        Recipe Name
                    </label>
                    <input type="text" class="form-control" ng-model="modal.recipeToAdd.recipename" id="recipename" placeholder="recipe name" />
                </div>

                <div>
                    <label for="ingredientslist" style="padding-top:18px">
                        List of Ingredients
                    </label>
                    <textarea type="text" class="form-control" ng-model="modal.recipeToAdd.ingredients" id="ingredientslist" placeholder="ingredients"></textarea>
                </div>

                <div>
                    <label for="directions" style="padding-top:18px">
                        Directions
                    </label>
                    <textarea type="text" class="form-control" ng-model="modal.recipeToAdd.directions" id="directions" placeholder="directions"></textarea>
                </div>
                        <div style="padding:25px">
                            <input type="submit" class="btn btn-default" value="Submit" />
                        </div>
            </form>
        </div>
    </div>
</div>

